{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Product List</title>
</head>
<body>
    <h1>Admin Product List</h1>
    <form method="GET" action="{% url 'product_list' %}">
        <input type="text" name="q" placeholder="Search..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.created_at }}</td>
                <td>{{ product.updated_at }}</td>
                <td><img src="{% static product.image_url %}" alt="{{ product.name }}" style="width:100px;height:100px;">
                 <td>
                    <a href="{% url 'edit_product' product.id %}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
