{% extends "storefront/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<main>
    <div class="container">
        <h2>Checkout</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="flex-container">
            <div class="flex-column">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <p><strong>Delivery Details</strong></p>
                    </div>
                    <hr>
                    <div>
                        <div>
                            <label for="delivery_address">Delivery Address:*</label>
                            <input type="text" id="address" name="delivery_address" required>
                        </div>
                        <div>
                            <label for="city">City:</label>
                            <input type="text" id="city" name="city" required>
                        </div>
                        {{ form.as_p }}
                    </div>
                    <button type="submit">Pay Now</button>
                </form>
            </div>
            <div class="flex-column">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>${{ item.product.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>${{ item.quantity|multiply:item.product.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>Total Price: ${{ total_price }}</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
